<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->
<p>Prosleđen parametar: {{id}}</p>

<form>
    <div class="form-row">
      <label for="exampleInputIme">Ime</label>
      <input type="text" class="form-control" id="exampleInputIme" placeholder="Ime" style="width:25%" 
      name="studentIme" [(ngModel)]="imeStudenta">
    </div>
    <div class="form-row">
      <label for="exampleInputPrezime">Prezime</label>
      <input type="text" class="form-control"  id="exampleInputPrezime" placeholder="Prezime" style="width:25%" 
      name = "studentPrezime" [(ngModel)]="prezimeStudenta">
    </div>
    <div class="form-row">
        <label for="exampleInputIndeks">Indeks</label>
        <input type="text" class="form-control"  id="exampleInputIndeks" placeholder="Indeks" style="width:25%" 
        name = "studentBrIndexa" [(ngModel)]="brIndexaStudenta">
      </div>
      <div class="form-row">
        <label for="exampleInputTel">Telefon</label>
        <input type="text" class="form-control"  id="exampleInputTel" placeholder="Telefon" style="width:25%">
      </div>
      <div class="form-row">
        <input type="submit" class="form-control"  id="submitButton" value="Sačuvaj" 
        (click)=onSacuvaj()>
      </div>
    
  </form>

<section id="tabs" class="project-tab">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <table class="table" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Ime</th>
                                            <th>Prezime</th>
                                            <th>Indeks br</th>
                                            <th>Brojevi tel</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor = "let student of studenti">
                                            <td>{{student.ime}}</td>
                                            <td>{{student.prezime}}</td>
                                            <td>{{student.brIndexa}}</td>
                                            <td *ngFor = "let tel of student.tel">{{tel}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
