<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
  integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<div class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">N1 ERP</a>
    <!-- Links -->
    <ul class="navbar-nav">
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">
          Prodaja
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Predračun</a>
          <a class="dropdown-item" href="#">Otpremnica/Faktura</a>
          <a class="dropdown-item" href="#">Povrat kupca</a>
          <div class="dropdown-divider"></div>
      <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Izvještaji prodaje</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Trgovačka knjiga</a></li>
          <li><a class="dropdown-item" href="#">Prodaja po komitentu</a></li>
        </ul>
      </li>
</div>
</li>
<!-- Dropdown -->
<li class="nav-item dropdown">
  <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">
    Nabavka
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Zahtjevi za ponudu dobavljačima</a>
    <a class="dropdown-item" href="#">Ponude od dobavljača</a>
    <a class="dropdown-item" href="#">Ulazna kalkulacija</a>
    <a class="dropdown-item" href="#">Povrat dobavljaču</a>
  </div>
</li>
<!-- Dropdown -->
<li class="nav-item dropdown">
  <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">
    Zalihe
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Prenosnica</a>
    <a class="dropdown-item" href="#">Popis</a>
    <a class="dropdown-item" href="#">Zamjena artikla</a>
    <a class="dropdown-item" href="#">Ispravka kartica</a>
    <a class="dropdown-item" href="#">Unos početnog stanja</a>
  </div>
</li>
<!-- Dropdown -->
<li class="nav-item dropdown">
  <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">
    Postavke
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Artikli</a>
    <a class="dropdown-item" href="#">Komitenti</a>
    <a class="dropdown-item" href="#">Organizacione jedinice</a>
  </div>
</li>
</ul>
</nav>
</div>