<header class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <div class="content">
              <div class="pull-middle">
                <h1 class="page-header">Welcome to Hotel Reservations App.</h1>
                <p class="lead">Make a reservation of your accomodation for free.</p>
                
                <button class="btn btn-success btn-circle" type="submit" routerLink="register">Sign up</button>                      

                
              </div>              
            </div>
        </div>
        <div class="col-md-4 col-md-offset-1 text-center mt-100 mb-100">
            <div class="phone">
                <img class="img-responsive img-rounded" src="http://placemi.com/djlnr/263x480">
            </div>
        </div>
      </div>
    </div>
</header>
